body
{

    /*background-image:url(Image/Backround/WxS_Sekai.png);*/
    font-family: Verdana;
    font-weight: lighter;
    text-shadow:  0.5px 0.5px rgb(97, 86, 86);
    text-shadow: 0.5px 0.5px rgb(105, 83, 83);
}
a{text-decoration: none;}

.circle 
{
    height: 230px;
    width: 230px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.circleVer2
{
    height: 325px;
    width: 325px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
table
{
    border-collapse: collapse;
    margin-left: 200px;
    width: 1000px;
}
tr
{
    margin: 10px;
}
td,td
{
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}
th
{
    border: 1px solid black;
    text-decoration: none;
    padding: 0;
    background-color: aqua;
}

.item
{
        background-color: #bdaeae;
        font-weight: 400;
        padding: 0px;
        margin: 0px;
}
.fragment
{
    border-bottom: 1px solid bla;
}